<div class="section section-projects fp-auto-height-responsive" data-section="service_detail">
    <section class="content clearfix">
        <div class="content-centered c-columns">
            <div class="c-title">
                <h2>More projects</h2>
            </div>
            <div class="wrapper clip-overflow anim">
                <!-- Begin of works/services/products -->
                <div class="gallery-wrapper">
                    <div class="items-tile">
                        <ul class="c-item-list row small-up-1 medium-up-2 large-up-3">
                            <!-- item -->
                            <li class="column">
                                <a class="tile-wrapper" href="<%= erp_hksoft.website_design_development_path %>">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample1-small.jpg"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">DỊCH VỤ</h3>
                                        <h4>THIẾT KẾ WEBSITE</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="column">
                                <a class="tile-wrapper" href="<%= erp_hksoft.web_based_software_development_path %>">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample2-small.jpg"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">DỊCH VỤ</h3>
                                        <h4>WEB ỨNG DỤNG QUẢN LÝ</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="column">
                                <a class="tile-wrapper" href="<%= erp_hksoft.domain_path %>">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample3-small.jpg"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">Paintoon</h3>
                                        <h4>Arts / Painting</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="column">
                                <a class="tile-wrapper" href="<%= erp_hksoft.hosting_path %>">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample4-small.jpg"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">Flower</h3>
                                        <h4>Photo / Instagram</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="column">
                                <a class="tile-wrapper" href="<%= erp_hksoft.seo_adwords_path %>">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample5-small.jpg"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">Sunset</h3>
                                        <h4>Photo / Instagram</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="column">
                                <a class="tile-wrapper" href="<%= erp_hksoft.graphic_design_path %>">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample6-small.jpg"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">Ocean</h3>
                                        <h4>Music / Beats</h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of works/services/products -->
            </div>
        </div>
        <!-- end of left elements -->
    </section>
</div>