<main class="page-main main-anim fullpg" id="mainpage">
    <!-- Begin of home section -->
    <%= render "erp/hksoft/frontend/modules/home/begin" %>
    <!-- End of home section -->

    <!-- Begin of about us section -->
    <%= render "erp/hksoft/frontend/modules/home/about_us" %>
    <!-- End of about us section -->

    <!-- Begin of services section -->
    <%= render "erp/hksoft/frontend/modules/home/services" %>
    <!-- End of services section -->

    <!-- Begin of service detail section -->
    <%= render "erp/hksoft/frontend/modules/home/service_detail" %>
    <!-- End of service detail section -->

    <!-- Begin of projects list section -->
    <%= render "erp/hksoft/frontend/modules/home/projects" %>
    <!-- End of projects list section -->

    <!-- Begin of newsletter section -->
    <%= render "erp/hksoft/frontend/modules/home/newsletter" %>
    <!-- End of newsletter section -->

    <!-- Begin of contact section -->
    <%= render "erp/hksoft/frontend/modules/home/contact" %>
    <!-- End of contact section -->
</main>